/**
* @name Blue and Black
* @author  Reskey#2360
* @version  1.0
* @description A simple, blue and black colored theme
* @invite nrTqgTN
* @authorId 332150412763332608
* @source https://github.com/DarkKillerXL/Red-n-Black
*/

/* By Reskey */

@import url("https://reskey.github.io/BlueAndBlackByReskey.css");

/* Customize */
:root {
    /* Primary Color (Default: rgb(85, 8, 8)) */
    --color1: rgb(0, 12, 174);
    /* Secondary Color (Default: rgb(56, 0, 0)) */
    --color2: rgb(0, 0, 104);
    /* Tertiary Color (Default: darkred) */
    --color10: darkblue;
    /* Accent Color (Default: red) */
    --accent-color: rgb(0, 120, 210);
    /* Background Image (change the url inside the brackets, default: https://i.imgur.com/6rlzsb8.png); */
    --background-url: url(https://images.unsplash.com/photo-1579548122080-c35fd6820ecb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    /* Background Color, appear for example behind the server list (Default: black) */
    --background-color: rgb(10, 10, 10);
}